
.title {
    width: 212px;
    height: 88px;
    font-family: Heebo-Regular_;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #000000;
  }
  .absolutePosition{
	  position: absolute !important;
	  z-index: 999999;
	  right: 0;
  }

  .notHidden{
	  overflow: visible !important;
  }
