@import '@src/assets/styles/colors';
@import '@src/settings';

.Mask {
    min-width: 500px;
    min-height: 200px;
    border-radius: 5px;
    //border: solid 1px #707090;
    background-color: #eaeaf0;
	color: black;
    //@include flex-column(nowrap, flex-start, space-between);
	display: inline-flex;
  }

  .Mask:hover {
    box-shadow: 0 0 0.625rem 0 #707090;
  }
 .project_profile{
	 width: 25%;
	 height: 100%;
	 background-color: rgb(87, 194, 87);
	 &:hover{
		 background-color: rgb(119, 119, 238);
	 }
 }
	.delete-project-button {
		width: 2rem!important;
		height: 2rem!important;
		padding: 0!important;
		z-index: 2!important;
		border-radius: 50%!important;
		display: flex!important;
		position: absolute;
		margin-right: -1rem;
		top: -0.8rem!important;
		align-items: center!important;
		justify-content: center!important;
	}
