.additional-menu__icon {
	position: relative;
	cursor: pointer;
}
.additional-menu__dropdown {
	background-color: #626363;
	color: white;
	position: fixed;
	width: 14rem;
	padding: 1rem 1rem;
	bottom: 18px;
	border-radius: 10px;
	margin-left :82px;
	ul.navigation-main{
		background-color: #626363;
		a:hover{
			text-decoration: underline;
		}
	}
}

.additional-menu__item {
	font-size: 1.15rem;
	cursor: pointer;
	color: white;
	&:hover {
		color: white;
	}
}
