.c-summary {
	background-color: $color-gray15;
	border-top: 0.8125rem solid $color-blue;
	border-radius: 0.3125rem;
	box-shadow: 0 0 0.625rem 0 #d2d7e0;
	flex: 1 0 calc(50% - 2rem);
	padding: 1.5625rem 1rem 1.9375rem;
	margin: 0 1rem 1rem;

	&__title {
		@include flex-row(nowrap, stretch, space-between);
		padding-bottom: 1.125rem;

		h3 {
			font-size: 1.5rem;
			color: $color-gray;
			font-weight: 500;
			margin: 0;
		}
	}

	&__header {
		@include flex-row(nowrap, center, flex-start);
		padding-bottom: 3.375rem;

		&-date {
			color: $color-gray;
			font-size: 1.875rem;
			font-weight: 500;
			margin: 0 0 0 0.6875rem;
		}

		&-date-meta {
			@include flex-row(nowrap, center, flex-start);
			color: $color-gray;
			font-size: 1.25rem;
			margin-left: auto;

			svg {
				width: 1.3125rem;
				height: 1.3125rem;
				margin-right: 1.562rem;
			}
		}
	}

	&__body {
		margin-left: -0.375rem;
		margin-right: -0.375rem;
	}

	&__accounts {
		@include flex-row(wrap, center, space-between);
	}

	&__progress {
		@include flex-row(nowrap, flex-start, space-between);
	}

	&__tasks,
	&__contractors-status {
		background-color: $color-white;
		border-radius: 0.3125rem;
		box-shadow: 0 0 0.625rem 0 $color-light2;
		width: 23rem;
		min-height: 18.125rem;
		padding: 1.25rem;
		margin: 0 0.4375rem 1rem;
		flex: 0 0 calc(50% - 0.875rem);

		&-row {
			@include flex-row(nowrap, center, space-between);
			border-top: 0.0625rem solid $color-light4;
			padding: 0.75rem 0;

			&:last-child {
				padding-bottom: 0;
			}

			.c-tasks__row-image {
				width: 1.875rem;
				height: 1.875rem;
				margin-right: 0.8125rem;
				background-image: url('assets/images/image1.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 0% 0%;
				border-radius: 50%;
			}

			&:nth-child(2) {
				.c-tasks__row-image {
					background-image: url('assets/images/image2.png');
				}
			}

			&:nth-child(3) {
				.c-tasks__row-image {
					background-image: url('assets/images/image3.png');
				}
			}
		}

		&-progress-bar {
			@include flex-row(nowrap, center, stretch);
			margin-left: auto;
			padding-right: 1rem;
			width: 7.0625rem;
		}

		&-completion {
			align-self: center;
			min-width: 2.6875rem;
			font-size: 1rem;
			font-weight: 400;
			color: $color-gray;
		}
	}

	@media (max-width: 1919px) {
		max-width: 100%;
		margin: 0 auto 1rem;
	}
}
